@use '../styles/colors' as colors;

.sideBar {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    button {
        text-wrap: nowrap;
        background-color: colors.$background_blue;
        color: colors.$text_black;
        &:hover {
            background-color: colors.$background_blue_darken;
        }
        &.active {
            background-color: colors.$background_blue_darken;
        }
    }
}
