@use '../styles/colors' as colors;

.sidePanel {
    background-color: colors.$background_blue;
    overflow: hidden;
    transition: all 1.2s ease;
    width: 0%;
    display: block;
    border-radius: 2rem;
    margin-left: 1rem;
    padding: 1rem;

    &.open {
        width: calc(100% - 1rem); // 或你想要的寬度
    }

    &.close {
        width: 0%;
        padding: 1rem 0rem;
    }
    > div {
        min-width: 300px;
        position: relative;
        .togglePanel {
            position: absolute;
            top: 1rem;
            left: 1rem;
        }

        h2 {
            margin-top: 0;
            text-wrap: nowrap;
        }
    }
}
