@use '../styles/colors' as colors;

.sideBar {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    button {
        text-wrap: nowrap;
        background-color: colors.$blue;
        color: white;
    }
}
