.Data {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    width: 100%;
    max-width: 450px;
    height: 100%;
    .Panel_Header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
        h2 {
            line-height: 1;
        }
    }
}
