@use '../../styles/mixins' as mixins;
@use '../../styles/media' as media;
@use '../../styles/variables' as variables;
@use '../../styles/colors' as colors;

.Data {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    width: 100%;
    max-width: 450px;
    height: 100%;
    .Panel_Header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
        h2 {
            line-height: 1;
        }
    }

    @include media.media(lg) {
        max-width: none;
        padding: 0 1rem;
    }
}
