@use '../styles/mixins' as mixins;
@use '../styles/colors' as colors;
@use '../styles/media' as media;
.Data_User_Chart {
    width: 100%;
    height: calc(100dvh - var(--navbar_outer_height) - 2rem);
    @include mixins.flex_center;
    justify-content: start;
    flex-direction: column;
    overflow: auto;
    @include mixins.scrollbar;
    &::-webkit-scrollbar {
        background-color: colors.$panel;
    }

    &::-webkit-scrollbar-thumb {
        background-color: colors.$panel_active;

        border: 4px solid colors.$panel;

        &:hover {
            background-color: colors.$panel_active_lighten;
        }
    }

    &::-webkit-scrollbar-corner {
        background-color: colors.$panel;
    }
    h2 {
        font-size: 2.4rem;
        text-align: start;
    }
    > div {
        @include mixins.flex_center;
        flex-direction: column;
        gap: 0rem;
        h3 {
            text-align: start;
        }
    }
    @include media.media(lg) {
        max-height: calc(100dvh - var(--navbar_outer_height) - var(--bottomBar_height));
        overflow: hidden;
        h2 {
            font-size: 2rem;
        }
        > div {
            width: 80%;
            margin: 0 auto;
        }
    }
}
