@use '../styles/mixins' as mixins;
@use '../styles/media' as media;
@use '../styles/colors' as colors;
.Intro {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    height: 100%;
    margin-bottom: 150px;
    section {
        margin-bottom: 2rem;
        width: 100%;
        * {
            line-height: 2.4rem;
        }
        p,
        h3 {
            text-align: left;
        }
        a {
            color: colors.$background_contrary;
            text-decoration: underline;
        }
        ol,
        ul {
            margin-left: 2rem;
            li {
                text-align: start;
                &::marker {
                    margin-right: 1rem;
                }
            }
        }
        img {
            width: 100%;
            max-width: 600px;
            margin: auto;
        }
    }
    @include media.media(lg) {
        width: calc(100% - 2rem);
        margin: 0 auto 150px auto;
    }
}
