@use './variables' as variables;
@use './colors' as colors;
@use './mixins' as mixins;

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    text-decoration: inherit;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: colors.$background;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    @include mixins.flex_center;
    border-radius: variables.$border_radius;
    background-color: colors.$panel;
    border: none;
    padding: 0.5em 0.5em;
    color: colors.$background_contrary;
    cursor: pointer;
    transition: border-color 0.25s;

    font-size: 1rem;
    line-height: 1rem;

    transition: all 0.3s ease;

    &:hover {
        background-color: colors.$panel_active;
    }

    &.active {
        background-color: colors.$panel_active;
    }
}

#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    padding: 0;
    width: 100%;
    height: 100vh;
}
