@use 'sass:color';

// 文字顏色

$background_contrary_white: rgba(240, 240, 240, 1);

// 字體大小
$font_base: 16px;
$font_title: 24px;

// 網站用色
$accent: #ffff3c;
$accent_lighten: color.scale($accent, $lightness: 20%); // #ffff66
$accent_darken: color.scale($accent, $lightness: -50%); // #ffff00
$background: #1e1e1e;
$background_contrary: #f0f0f0;
$panel: #464646;
$panel_active: #909090;
$panel_active_lighten: color.scale($panel_active, $lightness: 10%);

// 以下之後會移除
$border: rgba(150, 150, 150, 1);
$gold: #d6af36;
$gold_lighten: color.scale($gold, $lightness: 10%);
$gold_darken: color.scale($gold, $lightness: -10%);
$gold_darken_2: color.scale($gold, $lightness: -20%);

$gray: rgba(150, 150, 150, 1);

$background_blue: rgb(211, 217, 233);
$background_blue_lighten: color.scale($background_blue, $lightness: 10%);
$background_blue_darken: color.scale($background_blue, $lightness: -10%);
$background_blue_darken_2: color.scale($background_blue, $lightness: -20%);
