@font-face {
    font-family: 'Noto Sans TC';
    src: url('/fonts/NotoSansTC-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Noto Sans TC';
    src: url('/fonts/NotoSansTC-Regular.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}
