// RWD 範例
@mixin respond($breakpoint) {
    @if $breakpoint == sm {
        @media (max-width: 600px) {
            @content;
        }
    }
}

@mixin flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
