@use './media' as media;

$border_radius: 1rem;
:root {
    --navbar_inner_height: 2rem;
    --navbar_outer_height: 4rem;
    --bottomBar_height: 68px;
}

@include media.media(lg) {
    :root {
        --navbar_inner_height: 1.8rem;
        --navbar_outer_height: 3.4rem;
    }
}
