@use '../../styles/colors' as colors;
@use '../../styles/mixins' as mixins;
@use '../../styles/variables' as variables;
@use '../../styles/media' as media;

.Navbar {
    width: 100%;
    height: variables.$navbar_height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    color: colors.$background_contrary;

    .Logo {
        img {
            height: variables.$navbar_height;
        }
    }
    .SearchBar {
        @include mixins.flex_center;
        justify-content: space-between;
        border-radius: 1rem;
        height: variables.$navbar_height;
        padding: 1rem;
        flex-grow: 1;
        background-color: colors.$panel;
        &.active {
            border-radius: 1rem 1rem 0 0;
        }
        input {
            color: colors.$background_contrary;
            background-color: transparent;
            border: none;
            font-size: 1rem;
            flex-grow: 1;
            outline: none;
            width: 100%;
            padding: 6px 0px;
        }
        img {
            opacity: 0.5;
            cursor: pointer;
        }
    }
    .RightButton {
        @include mixins.flex_center;
        gap: 0.5rem;
        button {
            width: 2rem;
            height: variables.$navbar_height;

            img {
                height: 1rem;
            }
            &.authBtn {
                width: auto;
            }
        }
    }

    @include media.media(md) {
        justify-content: center;
        .Logo {
            img {
                height: 1.5rem;
            }
        }
        .SearchBar,
        .RightButton {
            display: none;
        }
    }
}
