@use '../../styles/colors' as colors;
@use '../../styles/mixins' as mixins;
@use '../../styles/media' as media;

.Menu_Backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    height: 100svh;
    &.open {
        pointer-events: all;
        opacity: 1;
    }

    .Menu {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        width: fit-content;
        height: 100%;
        padding: 1rem 0;
        background-color: colors.$panel;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 2rem;

        transition: all 0.3s ease;
        &.active {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            transform: translateX(0%);
            padding: 1rem;
        }

        .Hamburger {
            @include mixins.flex_center;
            width: 36px;
            height: 32px;
            cursor: pointer;

            img {
                height: 24px;
            }
        }
        ul {
            list-style-type: none;
            @include mixins.flex_center;

            flex-direction: column;
            gap: 1.5rem;
            min-width: 200px;

            a {
                @include mixins.flex_center;
                justify-content: start;
                width: 100%;
                padding: 0.5rem 1rem;
                transition: all 0.3s ease;
                border-radius: 0.5rem;
                img {
                    width: 24px;
                }

                span {
                    color: colors.$background_contrary;
                }

                &:hover {
                    background-color: colors.$panel_active;
                }
            }
        }
        @include media.media(lg) {
            left: 100%;
            transform: translateX(0%);
            .Hamburger {
                display: none;
            }
            &.active {
                transform: translateX(-100%);
            }
        }
    }
}
