@use '../../styles/mixins' as mixins;
@use '../../styles/colors' as colors;

.Panel_Tab {
    @include mixins.flex_center;
    button {
        border: colors.$background_contrary 1px solid;
        text-wrap: nowrap;
        font-size: 1rem;
        opacity: 0.6;
        &.active {
            opacity: 1;
            background-color: colors.$background_contrary;
            color: colors.$background;
        }
    }
}
