@use '../../styles/mixins' as mixins;
@use '../../styles/colors' as colors;

.Panel_Tab {
    @include mixins.flex_center;
    button {
        background-color: colors.$panel_active_lighten;
        text-wrap: nowrap;
        font-size: 1.2rem;
        opacity: 0.6;
        color: colors.$panel;
        &:hover {
            background-color: colors.$background_contrary;
        }
        &.active {
            opacity: 1;
            background-color: colors.$background_contrary;
            color: colors.$background;
        }
    }
}
