@use '../../styles/colors' as colors;
@use '../../styles/mixins' as mixins;

.Panel_Auth {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2rem;

    form {
        @include mixins.flex_center;
        flex-direction: column;
        width: 100%;
        flex-grow: 1;

        > div {
            @include mixins.flex_center;
            flex-direction: column;
            gap: 2rem;
            .avatar {
                img {
                    width: 5rem;
                }
            }
            fieldset {
                border: none;
                input {
                    font-size: 1rem;
                    border: none;
                    border-bottom: 1px solid colors.$background_contrary;
                    background-color: transparent !important;
                    -webkit-box-shadow: 0 0 0px 1000px colors.$panel inset !important;
                    -webkit-text-fill-color: colors.$background_contrary !important;
                    transition: background-color 9999s ease-in-out 0s;
                }
            }
        }
        button {
            width: fit-content;
            background: colors.$panel_active;
            &:hover {
                background: colors.$panel_active_lighten;
            }
        }
    }
}
