@use '../../styles/colors' as colors;
@use '../../styles/mixins' as mixins;

.Panel_Data_All {
    width: 100%;
    height: 100%;
    overflow: auto;
    @include mixins.flex_center;
    flex-direction: column;
    gap: 0rem;

    &.onLoading {
        @include mixins.loader;
    }

    .Table_Pagination {
        display: flex;
        span {
            margin: 0 1rem;
        }
    }

    .Table_ScrollWrapper {
        width: 100%;
        height: 100%;
        @include mixins.scrollbar;
        &::-webkit-scrollbar {
            background-color: colors.$panel;
        }

        &::-webkit-scrollbar-thumb {
            background-color: colors.$panel_active;

            border: 4px solid colors.$panel;

            &:hover {
                background-color: colors.$panel_active_lighten;
            }
        }

        &::-webkit-scrollbar-corner {
            background-color: colors.$panel;
        }
        table {
            width: 100%;
            overflow: auto;
            thead {
                background-color: colors.$panel;
                position: sticky;
                top: 0;
                tr {
                    th {
                        border-bottom: 1px solid colors.$accent;
                        padding: 0.5rem;
                        text-wrap: nowrap;
                        text-align: left;
                        font-weight: normal;
                        color: colors.$panel_active;
                        &.Table_id {
                            text-align: right;
                            width: 0;
                        }
                    }

                    &:first-child {
                        th {
                            padding-top: 0.75rem;
                        }
                    }
                }
            }

            tbody {
                tr {
                    cursor: pointer;
                    &.hover {
                        background-color: colors.$panel_active;
                    }
                    &.active {
                        background-color: colors.$accent;
                        color: colors.$panel;
                        cursor: pointer;
                    }
                    td {
                        padding: 0.5rem;
                        text-wrap: nowrap;
                        &.Table_id {
                            text-align: right;
                            width: 0;
                        }
                        &.Table_name {
                            text-align: left;
                            width: 100%;
                        }
                        &.Table_county {
                            text-align: left;
                        }
                        &.Table_town {
                            text-align: left;
                        }
                        &.Table_time {
                            text-align: left;
                        }
                        &.Table_length {
                            text-align: right;
                        }
                        &.Table_note {
                            text-wrap: break-word;
                            text-align: left;
                        }
                    }
                    &:last-child {
                        td {
                            padding-bottom: 0.75rem;
                        }
                    }
                }
            }
        }
        table * {
        }
    }
}
