@use '../../styles/colors' as colors;

.Panel_Detail {
    width: 100%;
    height: fit-content;

    .Detail_Card {
        border-radius: 0.5rem;
        display: grid;
        gap: 1rem;
        grid-template-areas:
            'Card_title Card_title Card_title'
            'Card_district Card_time Card_length'
            'Card_url Card_note Card_note';
        position: relative;

        button {
            position: absolute;
            top: 1rem;
            right: 1rem;
            border-radius: 100%;
            background-color: colors.$background_blue_lighten;
            width: 2rem;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                background-color: colors.$background_blue_darken_2;
            }
        }

        div {
            input {
                display: none;
            }

            p {
                display: block;
            }
        }

        &.editing {
            div {
                input {
                    display: block;
                }

                p {
                    display: none;
                }

                &.Card_title {
                    .Card_name {
                        width: 50%;
                        input {
                            width: 100%;
                        }
                    }
                }
            }
        }

        > div:not(.Card_title) {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: end;

            span {
                font-size: 0.6rem;
            }
            p,
            a {
                font-size: 1.2rem;
                line-height: 1.2rem;
                font-weight: bold;
            }
        }
        .Card_title {
            grid-area: Card_title;
            display: flex;
            gap: 0.5rem;
            align-items: end;
            .Card_name {
                grid-area: Card_name;

                p,
                input {
                    padding: 0;
                    margin: 0;

                    color: colors.$background_contrary;

                    font-size: 2rem;
                    line-height: 2rem;
                    font-weight: bold;
                }
            }
            .Card_id {
                grid-area: Card_id;
                font-size: 0.8rem;
                line-height: 0.8rem;
            }
        }

        .Card_district {
            grid-area: Card_district;
        }
        .Card_time {
            grid-area: Card_time;
        }
        .Card_length {
            grid-area: Card_length;
        }
        .Card_url {
            grid-area: Card_url;
            a {
                text-decoration: underline;
                color: colors.$background_contrary;
            }
        }
        .Card_note {
            grid-area: Card_note;
        }
    }
}
