@use '../../styles/colors' as colors;
@use '../../styles/variables' as variables;
@use '../../styles/mixins' as mixins;

.Panel {
    border-radius: variables.$border_radius;
    background-color: colors.$panel;
    padding: 1rem;
    @include mixins.flex_center;
    flex-direction: column;
    align-items: start;
    width: 100%; // 之後會調整
    flex-grow: 1;
    position: relative;

    &.ZoomIn {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100000;
    }

    &:hover {
        .panelButton {
            opacity: 1;
            pointer-events: all;
        }
    }

    .panelButton {
        position: absolute;
        top: 1rem;
        right: 1rem;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;

        @include mixins.flex_center;
        button {
            width: 2rem;
            height: 2rem;
            text-wrap: nowrap;
        }
    }

    .title {
        @include mixins.flex_center;
        justify-content: space-between;
        text-wrap: nowrap;
        width: 100%;
        p {
            flex-grow: 1;
            font-size: 1.5rem;
            font-weight: bold;
            text-align: start;
        }
    }
    .content {
        flex-grow: 1;
    }
}
