@use '../../styles/mixins' as mixins;

.Panel_Button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    z-index: 100000;

    @include mixins.flex_center;
    button {
        width: 2rem;
        height: 2rem;
        text-wrap: nowrap;
    }
}
