@use '../../styles/colors' as colors;
@use '../../styles/variables' as variables;
@use '../../styles/mixins' as mixins;
@use '../../styles/media' as media;

.Panel {
    border-radius: variables.$border_radius;
    background-color: colors.$panel;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%; // 之後會調整
    flex-grow: 1;
    position: relative;
    min-height: 70%;
    height: fit-content;
    max-height: 100%;
    &.Panel_detail {
        min-height: auto;
    }

    &.ZoomIn {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    &:hover {
        .Panel_Button {
            opacity: 0.5;
            pointer-events: all;
        }
    }

    @include media.media(md) {
        border-radius: 0;
    }
}
