@theme {
  --color-background: var(--theme-background);
  --color-background-contrary: var(--theme-background-contrary);
  --color-panel: var(--theme-panel);
  --color-panel-active: var(--theme-panel-active);
  --color-panel-active-lighten: var(--theme-panel-active-lighten);
  --color-nav-border: var(--theme-nav-border);
  --color-accent: var(--theme-accent);
  --color-accent-lighten: var(--theme-accent-lighten);
  --color-accent-darken: var(--theme-accent-darken);

  --radius-panel: 0.75rem;
}

:root {
  --nav-width: 14rem;
  --theme-background: var(--color-raw-dark);
  --theme-background-contrary: var(--color-raw-light);
  --theme-panel: var(--color-raw-gray-500);
  --theme-panel-active: var(--color-raw-gray-400);
  --theme-panel-active-lighten: color-mix(in srgb, var(--color-raw-gray-400) 90%, white 10%);
  --theme-nav-border: transparent;
  --theme-accent: var(--color-raw-yellow);
  --theme-accent-lighten: color-mix(in srgb, var(--color-raw-yellow) 80%, white 20%);
  --theme-accent-darken: color-mix(in srgb, var(--color-raw-yellow) 65%, black 35%);
}

.light {
  --theme-background: var(--color-raw-gray-100);
  --theme-background-contrary: var(--color-raw-dark);
  --theme-panel: var(--color-raw-light);
  --theme-panel-active: var(--color-raw-gray-200);
  --theme-panel-active-lighten: color-mix(in srgb, var(--color-raw-gray-200) 90%, white 10%);
  --theme-nav-border: var(--color-raw-gray-200);
  --theme-accent: var(--color-raw-yellow-brown);
  --theme-accent-lighten: color-mix(in srgb, var(--color-raw-yellow-brown) 80%, white 20%);
  --theme-accent-darken: color-mix(in srgb, var(--color-raw-yellow-brown) 65%, black 35%);
}

.nav-collapsed {
  --nav-width: 5.5rem;
}
