@use '../../styles/mixins' as mixins;
@use '../../styles/colors' as colors;

.Modal_Backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 20;

    &.open {
        pointer-events: all;
        opacity: 1;
    }

    .Modal_Content {
        width: fit-content;
        height: fit-content;
        background: colors.$panel;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        max-width: 90vw;
        max-height: 90vh;
        position: relative;

        .Modal_CloseBtn {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            border: none;
            background: none;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }

    button {
        border: 1px solid colors.$panel_active;
    }
}
