@use '../../styles/mixins' as mixins;
@use '../../styles/colors' as colors;
@use '../../styles/variables' as variables;
.Modal_File {
    @include mixins.flex_center;
    gap: 1rem;
    flex-direction: column;
    padding: 1rem;
    h2 {
        font-size: 2rem;
    }
    input {
        &::file-selector-button {
            font-weight: bold;
            color: colors.$background_contrary;
            padding: 0.2em 0.6rem;
            border: none;
            border-radius: variables.$border_radius;
            background-color: colors.$panel_active;
            transition: all 0.3s ease-in-out;
            &:hover {
                background-color: colors.$panel_active_lighten;
                cursor: pointer;
            }
        }
    }
    .Modal_File_input {
        @include mixins.flex_center;
        flex-wrap: wrap;
        button {
            text-wrap: nowrap;
        }
        p {
            text-wrap: nowrap;
        }
    }

    button {
        background-color: colors.$panel_active;
        &:hover {
            background-color: colors.$panel_active_lighten;
        }
    }
}
