@use './styles/colors' as colors;
@use './styles/media' as media;
@use './styles/variables' as variables;

.App {
    margin: 0 auto;
    width: 100%;
    height: calc(100% - variables.$navbar_height - 1rem);
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: variables.$navbar_height + 2rem;
    gap: 1rem;
    background-color: colors.$background;
    * {
        accent-color: colors.$accent;
    }

    main {
        height: calc(100% - variables.$navbar_height - 1rem);
    }

    @include media.media(md) {
        gap: 0;
        padding: 0;
    }
}
